body {
        font-family: Arial, sans-serif;
        margin: 0;
        background-color: #f5f6fa;
      } /* Section Profile */
      .profile-section {
        text-align: center;
        background-color: #6E8CFB;
        margin-top: 55px;
        height: 400px;

      }

      .profile-card {
        display: flex;
        flex-direction: column;
        background: white;
        position: relative;
        display: inline-block;
        padding: 50px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: -50px;
        margin-top: 50px;
        width: 400px;
        height: 380px;
         padding: 50px;
      }

      .profile-card img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 4px solid white;
        position: absolute; /* ทำให้รูปลอยบนกรอบ */
        top: -50px; /* ลอยเหนือกรอบ */
        left: 50%;
        transform: translateX(-50%); /* อยู่กึ่งกลางแนวนอน */
      }

      .profile-card h2 {
        margin: 10px 0 5px;
      }
      .profile-card p {
        margin: 5px 0;
        color: #555;
      }
      .wallet {
        margin: 20px 0;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #f9f9f9;
        width: 200px;
        text-align: center; 
      }

      .btn {
        display: inline-block;
        margin: 10px 5px;
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
      }
      .btn-primary {
        background-color: #3366ff;
        color: white;
      }
      .btn-secondary {
        background-color: #f0f0f0;
        color: #333;
      }
      .example-button-row {
        display: flex;
        gap: 20px;
        justify-content: center; 
        width: 100%;
      }

a {
    color: #515151;
}

.history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3%;
  }

  .history-card {
    background-color: #fff;
    border-radius: 10px;
    border: 4px solid white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    width: 700px;
    max-height: 400px; /* 👈 ความสูงสูงสุดของกล่อง */
    overflow-y: auto; 
    margin-top: 15%; /* 👈 ถ้าเกินความสูงให้มี scroll */
  }

  .user-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 25px;
    color: #555;
    text-align: center;
  }

  .transaction {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .transaction:last-child {
    margin-bottom: 0;
  }

  .transaction-left {
    display: flex;
    flex-direction: column;
  }

  .transaction-type {
    font-weight: 600;
    color: #555;
  }

  .transaction-date {
    font-size: 13px;
    color: #aaa;
  }

  .transaction-amount {
    font-weight: bold;
    font-size: 16px;
  }

  .plus {
    color: green;
  }

  .minus {
    color: red;
  }
