<div>
    <div class="headerTab">
        <div class="btw-header">
            <div class="locoCenter">
                <div class="loco">
                    <img src="assets/images/loco.png" alt="images" style="width: 13%;">
                    <div class="textCenter">
                        <div class="Gamery">
                            Gamery
                        </div>
                        <div>
                            <h2>บริการขายเกม</h2>
                        </div>
                    </div>

                    <ng-container *ngIf="currentUser?.status === 1; else userHeader">
                        <div class="homepage">
                            <a [routerLink]="['homepage-admin']">
                                หน้าแรก
                            </a>
                        </div>
                        <div class="game">
                            <a [routerLink]="['create-game']">
                                สร้างเกม
                            </a>
                        </div>
                        <div class="game">
                            <a [routerLink]="['details']">
                                โค้ดส่วนลด
                            </a>
                        </div>
                        <div class="game">
                            <a [routerLink]="['member-page']">
                                ผู้ใช้
                            </a>
                        </div>
                    </ng-container>

                    <ng-template #userHeader>
                        <div class="homepage">
                            <a [routerLink]="['homepage-user',userId]">
                                หน้าแรก
                            </a>
                        </div>
                        <div class="game">
                            <a href="/">
                                คลังเกม
                            </a>
                        </div>
                    </ng-template>

                </div>

            </div>

            <div class="profile">

                <input matInput class="find" [(ngModel)]="searchgame">

                <div class="bt-search">
                    <button matMiniFab (click)="search()">
                        <mat-icon fontIcon="search"></mat-icon>
                    </button>
                </div>

                <div class="iconCenter" *ngIf="currentUser?.status === 0">
                    <mat-icon fontIcon="shopping_cart"></mat-icon>
                </div>
                <div class="img-Input" (click)="goToProfile()">
                    <img [src]=" apiUrl +'/uploads/'  + user?.image" alt="">
                </div>

            </div>
        </div>
    </div>
</div>
