<body>
    <div>
        <div class="columnCenter">
            <mat-card class="example-card mat-elevation-z24" appearance="outlined">
                <div class="columnCenter">
                    <img src="assets/images/loco.png" alt="images" style="width: 20%;">
                    <h3>ลงทะเบียน</h3>

                    <div class="img-Input" (click)="fileInput.click()">
                        <img *ngIf="preview; else iconTemplate" [src]="preview" class="preview-img">
                        <ng-template #iconTemplate>
                            <mat-icon fontIcon="add_photo_alternate"></mat-icon>
                        </ng-template>
                        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
                    </div>

                    <div>
                        <p>ชื่อผู้ใช้</p>
                        <div>
                            <mat-form-field appearance="outline" style="width: 340px;">
                                <mat-label>กรุณากรอกชื่อผู้ใช้</mat-label>
                                <input matInput [(ngModel)]="username">
                            </mat-form-field>
                        </div>
                    </div>

                    <div style="margin-top: -10px;">
                        <p>อีเมล</p>
                        <div>
                            <mat-form-field appearance="outline" style="width: 340px;">
                                <mat-label>กรุณากรอกอีเมล</mat-label>
                                <input matInput [(ngModel)]="email">
                            </mat-form-field>
                        </div>
                    </div>
                    <div style="margin-top: -10px;">
                        <p>รหัสผ่าน</p>
                        <div>
                            <mat-form-field appearance="outline" style="width: 340px;">
                                <mat-label>กรุณากรอกรหัสผ่าน</mat-label>
                                <input matInput type="password" [(ngModel)]="password">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="bt-login">
                        <button matButton="filled" (click)="register()">ลงทะเบียน</button>
                    </div>
                </div>

            </mat-card>
        </div>

    </div>
</body>